html, body {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 960px) {
    /* GLOBAL */
    html {
        font-size: 85%;
    }
}

@media screen and (max-width: 480px) {
    /* GLOBAL */
    html {
        font-size: 70%;
    }
}

body {
    background-color: #bdc3c7;
}

.header {
    background-color: #343a40;
    color: #f8f9fa;
    padding: 1rem 4rem 1rem 4rem;
}

.logo {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo img {
    width: 4rem;
    height: auto;
    object-fit: contain;
}

.logo * + * {
    padding-left: 2rem;
}

.card {
    background-color: #6c757d;
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.block {
    background-color: #fff;
    color: #343a40;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #6c757d;
    margin: 4rem 1rem 2rem 1rem;
    padding: 2rem;
}

.form-header {
    text-align: center;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #007bff;
    margin-bottom: 2rem;
}

.form-group img {
    max-width: max-content;
    width: 8rem;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #007bff;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.form-erreur {
    text-align: center;
    color: #dc3545;
    margin-top: 2rem;
}

.form-submit {
    text-align: center;
    margin-top: 2rem;
}

.form-submit * + * {
    margin-top: 1rem;
}

.form-lock {
    color: #007bff;
}

.form-lock:hover {
    cursor: pointer;
}

.form-eye {
    color: #007bff;
    position:relative;
    left: 90%;
    bottom: 2rem;
}

.form-eye:hover {
    cursor: pointer;
}

.form-regles-1, .form-regles-5 {
    margin-left: 1rem;
    margin-top: 0.5rem;
    height: 0;
    overflow: hidden;
    transition: height 300ms ease-in-out;
}

.form-regles-1.mdp, .form-regles-5.mdp {
    margin-top: -1rem;
}

.form-regles-5.focus {
    height: 8rem;
}

.form-regles-1.focus {
    height: 2rem;
}

.form-regle {
    color: #dc3545;
}

.form-regle.check {
    color: #28a745;
}

.form-options {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.form-options * + input {
    margin-left: 2rem;
}

.block.menu {
	padding: 0;
}

.menu a {
	display: block;
	color: inherit;
	text-decoration: none;
	padding: 2rem;
}

.menu.deconnexion a {
    text-align: center;
    color: #dc3545;
}

.menu a:hover, .menu a.active {
    background-color: #007bff;
    color: #f8f9fa;
}

.menu.deconnexion a:hover {
    background-color: #dc3545;
    color: #f8f9fa;
}

.menu > :first-child {
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
}

.menu > :last-child {
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

.sub-menu {
	height: 0;
	overflow: hidden;
}

.sub-menu.active {
	height: auto;
}

.sub-menu a {
	padding-left: 4rem;
	border-radius: 0;
}

.sub-menu a:hover, .sub-menu a.active {
	background-color: #75b7ff;
    color: #f8f9fa;
}

.cookie {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.import-export {
	margin-top: 1rem;
}

.import-export * + * {
	margin-left: 4rem;
}

.button {
	color: #007bff;
}

.form-group .button {
	margin-left: 1rem;
}

.button:hover {
	cursor: pointer;
}

.blink_me {
	animation: blinker 1s linear infinite;
  }
  
@keyframes blinker {
	50% {
		opacity: 0;
	}
}